@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    padding:0px;
    margin:0px;
    background: url('https://getwallpapers.com/wallpaper/full/a/8/1/66315.jpg');
    background-size:cover;
    width:100vw;
    height:100vh;
    overflow:hidden;
    font-family: 'Josefin Sans', sans-serif;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background:rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid #fff;
    border-bottom:12px solid rgb(0, 28, 72);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#box {
    width:100vw;
    height:100vh;
    z-index:9;
    position:fixed;
    top:0;
}
#box div {
    width:16.66vw;
    height:100%;
    display:inline-block;
}
.box1 {
    background:rgb(0, 28, 72);
}
.box2 {
    background:rgb(0, 28, 72);
    margin-left:-5px;
}
#menu {
    width:100%;
    text-align:center;
    margin:6vh 0px;
    display:none;
}
#menu a {
    margin:0px 6%;
    font-size:19px;
    color:#fff;
    text-decoration:underline;
}
#middle {
    width:100vw;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:fixed;
    top:0;
    text-align:center;
    z-index:1;
    color:#fff;
    padding-bottom:10vh;
}
#middle h1 {
    color:rgba(255, 255, 255, 0.907);
    font-size:70px;

    
}
#about {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(-90deg);
    /* background:transparent; */
    color:#fff;
    position:fixed;
    left:0;
    bottom:40vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
/* skills */


.software {
    
    padding: 20px;
    text-align: center;
}

#soft {
    font-size: 1.5rem;
    text-align:center ;
  }

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.logo {
    margin: 10px;
    max-width: 50px;
    /* transition: transform 0.3s ease; Add a transition for the transform property */
}

.logo img {
    width: 100%;
    height: auto;
}

/* Add hover effect for scaling */
.logo:hover {
    transform: scale(1.2); /* Increase the size on hover */
}
@media screen and (max-width: 768px) {
  .containerB {
    align-items: center;  
    flex-direction: column; /* Stack on top of each other for mobile screens */
  }

  .info, .image {
      flex: auto;
      width: 100%;
      margin: 0;
      align-items: center;
      
  }
}
#work {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    transform:rotate(90deg);
    /* background:transparent; */
    color:#fff;
    position:fixed;
    right:0;
    bottom:40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:0px 0px 100px 100px;
}
#contact {
    width:10vw;
    height:10vw;
    text-align:center;
    font-size:25px;
    /* background:transparent; */
    color:#fff;
    position:fixed;
    bottom:0;
    left:45vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    z-index:4;
    transition:0.4s ease-in-out;
    border-radius:100px 100px 0px 0px;
}
#about:hover {
    background:rgba(0, 28, 72,0.9);
    cursor:pointer;
}
#work:hover {
    background:rgba(0, 28, 72,0.9);
    cursor:pointer;
}
#contact:hover {
    background:rgba(0, 28, 72,0.9);
    cursor:pointer;
}
#middle table {
    width:30%;
    margin:6vh auto;
}
#middle table tr td {
    text-align:center;
}
.social {
    color:#fff;
    font-size:22px;
    border-radius:50%;
    transition:0.4s ease-in-out;
    margin:0px 8px;
    text-align:center;
}
.social:hover { 
    cursor: pointer;
    color:rgb(11, 105, 255);
}
.container {
    width:90vw;
    height:90vh;
    padding:5vh 5vw;
    background-image: url(image/427161.jpg);
    opacity: 0.99;
    
   
    color:#fff;
    z-index:9;
    position:fixed;
    max-height:100vh;
    overflow-y:auto;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
.container div {
    font-size:25px;
    margin:20px 0px;
    transition:0.4s ease-in-out;
}
.container div p{
    
    font-weight: lighter;
}
.container div:hover {
    /* cursor:pointer; */
}
.container section {
    margin:8vh 0px;
}
#used div{
    font-size:14px !important;
    display:inline-block;
    padding:8px 10px;
    border:2px solid #fff;
    margin:0px 10px;
    border-radius:50px;
}
#used:hover {
    cursor:text;
}
#used div:hover {
    cursor:text;
}
.container h1 {
    font-size:60px;
    /* text-decoration:underline; */
    color: rgb(9, 103, 255);
}
.container p {
    font-size:21px;
}
.btn_one {
    font-size:18px;
    font-family: 'Josefin Sans', sans-serif;
    color:#fff;
    background:transparent;
    border:3px solid #fff;
    padding:8px 40px;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 10px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color:rgb(0, 28, 72);
    background:#fff;
}

.container form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
    font-weight:bold;
}
.container form input:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
.container form textarea:focus {
    outline:none;
    border-bottom:3px solid rgba(255, 255, 255,1);
}
::placeholder {
    color:#fff;
}
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  
  
  .logo-container i {
    font-size: 36px;
    margin-bottom: 10px;
  }
#footer {
    color:#fff;
    width:92vw;
    padding:5vh 4vw;
    text-align:right;
    position:fixed;
    z-index:1;
    bottom:0;
    font-size:16px;
    font-weight:bold;
}
#footer a {
    color:rgb(0, 28, 72) ;
}
#particles-js {
    position:fixed;
    width:100vw;
    height:100vh;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #fff; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 28, 72); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 50,255,0.8); 
}
::selection {
	color: #fff;
	background: rgb(0, 28, 72);
}

@media (max-width: 800px){ 
    #about {
        display:none;
    }
    #contact {
        display:none;
    }
    #work {
        display:none;
    }
    #footer {
        text-align:center;
    }
    #middle {
        width:90vw;
        padding:0px 5vw;
    }
    #middle table {
        width:80%;
    }
    .container form input {
        width:90%;
    }
    .container form textarea {
        width:90%;
    }
    #menu {
        display:inline-block;
    }
    #onlywide {
        display:none !important;
    }
    .box2 {
        margin-left:0px !important;
    }
    #box div {
        width:100%;
    }
}

.typewriter {
    font-size: 36px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #3498db; /* Typing cursor effect */
}

.word {
    display: inline-block;
    padding-right: 10px; /* Adjust spacing between words */
}

.word:last-child {
    padding-right: 0;
}
/* Reset some default styles */


.projects {
    text-align: center;
    padding: 20px;
}


.project-card {
    background: rgb(0, 0, 0); /* Glass card background color */
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Card shadow */
    padding: 20px;
    
    display: inline-block;
    width: 250px; /* Adjust card width as needed */
}



.project-card img {
    max-width: 100%; /* Ensure the image is responsive */
    display: block;
    border-radius: 10px; /* Rounded corners for the image */
    margin-bottom: 10px; /* Spacing between image and title */
    transition: transform 0.2s;

}
.project-card img:hover {
    transform: scale(1.05); /* Enlarge the card on hover */
}

h3 {
    font-size: 1.2rem; /* Adjust font size */
    color: #ffffff; /* Adjust title color */
}

.preview-button {
    display: inline-block;
    padding: 10px 20px;
    background: #0800ff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.2s;
}

.preview-button:hover {
    background: #258cd1; /* Button background color on hover */
}
.about{
    display: flex;
   float: right;
}
.about .info{
    width: fit-content;
}
.about .photo img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 768px) {
  .about {
    
    flex-direction: column; /* Stack content vertically on smaller screens */
  }

}
/* achivements */

html {
  overflow-x: hidden;
}

.scroll-outer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.scroll{
  overflow-x: hidden;
  display: flex;
  width: 100%;
}

.scrolling-card {
  display: inline;
}

.scrolling-card > img {
  padding: 10px;
  border-radius: 20px;
  height: 300px;
  transition: padding 0.5s;
}

.scrolling-card > img:hover{
  padding-left: 28px;
  padding-right: 28px;
  transition: padding 0.5s;
}

.large-header canvas {
	width: 100%;
	height: 100%;
}